.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);

  overflow-y: scroll;
}
.feed::-webkit-scrollbar {
  display: none;
}
.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid var(--twitter-background);
  padding: 15px 20px;
  display: flex;
}
.feed__header > h2 {
  font-size: 20px;
  font-weight: 700;
}
.feed::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}
.feed__timelineProp {
  display: flex;
  margin-left: auto;
  color: var(--twitter-color);
  font-size: 20px !important;
}
@media only screen and (max-width: 1000px) {
  .feed {
    flex: 0.9;
    border-right: 1px solid var(--twitter-background);
  }
}
@media only screen and (max-width: 600px) {
  .feed {
    flex: 0.9;
    border-right: 1px solid var(--twitter-background);
  }
}
